<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yongf.rorder">

    <application
        android:name=".app.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.activity.SplashActivity">

        </activity>
        <activity android:name=".app.activity.MainActivity"></activity>
        <activity android:name=".app.activity.RegisterActivity"></activity>
        <activity android:name=".app.activity.FindPwdActivity"></activity>
    </application>

</manifest>
